<%- include("partials/header") %>
<div class="col-sm">
    <div class="card mb-4">
        <div class="card-header">
            <h1><%= dataPost.title %></h1>
        </div>
        <div class="card-body">
            <p> <%= dataPost.textArea %></p>
        </div>
        <p class="ms-auto me-3 dataColor"><%= dataPost.date %></p>
    </div>
</div>


<%- include("partials/footer"); %>